.container {
   display: grid;
   grid-template-columns: 100px auto 100px;
   grid-template-rows: repeat(6, 100px);
  
   grid-template-areas:
       "header header header"
       "nav nav nav"
       "main main main"
       "aside aside aside"
       "footer footer footer";
}

header {
   grid-area: header;
   display: flex;
   background-color: red;
   
}
nav {
   grid-area: nav;
   display: flex;
   background-color: violet;
   
}
main {
   grid-area: main;
   display: flex;
   background-color: green;
   
}
aside {
   grid-area: aside;
   display: flex;
   background-color: yellow;
   
}
footer {
   grid-area: footer;
   display: flex;
   background-color: lightgray;   
   width: 100%;
}

@media screen and (min-width: 768px) {
   .container {
       grid-template-columns: repeat(4, 1fr);
       grid-template-areas:
       "header header header"
       "nav nav nav"
       "main main main"
       "aside aside aside"
       "footer footer footer";
   }
}

@media screen and (min-width: 1024px) {
   .container {
       grid-template-columns: repeat(3, 1fr);
       grid-template-areas:
       "header header header"
       "nav nav nav"
       "main main main"
       "aside aside aside"
       "footer footer footer" ;
   }
}
